<p>
  Olá {{ person.name }},
</p>

<p>
  Informamos que seu certificado de partipação no fisl15 já
  está disponível, e pode ser obtido acessando a URL abaixo
</p>

<p>
  <a href="{{ afterConf }}/#/auth/hash/{{ person.loginHash }}">
    {{ afterConf }}/#/auth/hash/{{ person.loginHash }}
  </a>
</p>

<p>
Atenciosamente,
</p>

<p>
  --
  Comitê de Organização FISL 15
  Associação Software Livre.Org
</p>
